body {
    font-family: 'Bangers', sans-serif;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

ul {
    list-style-type: none;
}

.hanged {
    height: 60%;
    width: 100%;
    max-height: 320px;
    max-width: 480px;
}

.displayCount {
    background-color: #9ba4da80;
}

#wordContainer {
    background-color: #9ba4da80;
}

button {
    background-color: #f20edb78 !important;
}